<div class="post">

    <h2>{{controller.title}}</h2>

    <div class="postHeader">

        <h3>
            <a class="user creator" ui-sref="user({user: controller.creator.name})">
                {{controller.creator.name}}
            </a>
        </h3>

        <div class="vote">
            <div class="upvote" ng-if="controller.showVoting" ng-click="controller.upVote()">

            </div>
            <div class="downvote" ng-if="controller.showVoting" ng-click="controller.downVote()">

            </div>
        </div>

    </div>

    <div class="postContent">
        {{controller.content}}
    </div>
</div>

<div class="comments">
    <ul class="commentList">
        <li ng-repeat="comment in controller.comments | orderBy:'-score'" ng-include="'commentTree'"></li>
    </ul>
</div>


<script type="text/ng-template" id="commentTree">

    <div class="commentHeader">

        <a class="user" ui-sref="user({user: comment.creator.name})">
            {{comment.creator.name}}
        </a>

        <p>
            Score: {{comment.score}}
        </p>

        <div class="vote" ng-if="comment.showVoting">

            <div class="upvote" ng-click="comment.upVote()"></div>
            <div class="downvote" ng-click="comment.downVote()"></div>

        </div>

    </div>

    <div class="commentBody">
        {{comment.content}}
    </div>

    <ul ng-if="comment.comments">
        <li ng-repeat="comment in comment.comments | orderBy:'-score'" ng-include="'commentTree'">
        </li>
    </ul>

</script>